{% extends "base.html" %}

{% block content %}
<div class="hero" style="background-image: url('https://wallpapers.com/images/hd/stardew-valley-pixel-farm-landscape-20t9wb31andl64qe.webp')">
    <div class="hero-overlay">
        <h1>Добро пожаловать в Эко Долину</h1>
        <p>Присоединяйтесь к нашему путешествию по спасению планеты!</p>
    </div>
</div>

<div class="features">
    <div class="feature-card">
        <img src="https://static.wikia.nocookie.net/stardewvalley/images/c/c1/%D0%90%D0%BF%D0%B5%D0%BB%D1%8C%D1%81%D0%B8%D0%BD%D0%BE%D0%B2%D0%BE%D0%B5_%D0%B4%D0%B5%D1%80%D0%B5%D0%B2%D0%BE.png" alt="Дерево">
        <h2>Сажайте деревья</h2>
        <p>Помогите уменьшить CO2 в атмосфере</p>
    </div>
    <div class="feature-card">
        <img src="https://avatars.mds.yandex.net/i?id=88a8593f9088438b5ab96fa489285eac48db8be5-9216096-images-thumbs&n=13" alt="Переработка">
        <h2>Перерабатывайте</h2>
        <p>Дайте вторую жизнь вещам</p>
    </div>
    <div class="feature-card">
        <img src="https://image.emojipng.com/220/8401220.jpg" alt="Энергия">
        <h2>Зеленая энергия</h2>
        <p>Используйте возобновляемые источники</p>
    </div>
</div>
{% endblock %}